@import url(../style/fonts.css);

*{
	margin: 0;
	padding: 0;
}
body, main, .block-tests{
    font-family: RR;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
body{
	position: absolute;
	min-width: 100%;
    height: 100%;
    background: #f4fcff;
}
header{
	overflow: hidden;
	width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    box-shadow: 2px 0px 2px grey;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #8b878738;
}
.account-photo{
	box-shadow: 2px 2px 2px 0px rgb(189 189 189);
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	background: white;
	z-index: 1;
}
.account-info{
    width: 75%;
    height: 60%;
    background: white;
    border-radius: 0 72px 72px 0;
    position: relative;
    right: 4vw;
}
main{
	overflow: scroll;
    width: 97%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.categories{
	font-size: 3.4vw;
	margin-top: 2px;
	width: 95vw;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.categories-list{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    background-color: #ffffff;
    border-radius: 82px 82px 82px 82px;
    z-index: 2;
}
.categories-list-li{
	padding: 0 1vw;
	color: #515151;
}
.categories-list-li-active{
	border-radius: 120px;
	background-color: #5ec0e7;
	color: white;
	cursor: pointer;
}
.test-block{
	background-color: white;
	font-family: RR;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	width: 95%;
	height :30%;
	margin:2% 0%; 
    box-shadow: 3px 3px 6px 0px rgb(189 189 189);
    border-radius: 15px;
    overflow: hidden;
}
.test-block h2{
	width: 90%;
}
.test-block h4{
    width: 30%;
    padding: 2vw 2vw;
}
.test-block h2,
.test-block h4{
    text-align: center;
    background: #dde3e5db;
    border-radius: 72px;
}
.line{
    content: "";
    width: 100%;
    height: 6px;
    background: #f36630;
}
.test-block-active-buttons{
	width: 90%;
    display: flex;
    height: 20%;
    justify-content: space-between;
    align-items: flex-start;
}
.like {
	background-color: #696969;
 	display: inline-block;
  	height: 6vw;
    margin: 0 1vw;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 6vw;
	transition: 0.3s;
}

.like:before,
.like:after {
  	content: "";
  	background-color: #696969;
  	border-radius: 50%;
  	height: 6vw;
    position: absolute;
    width: 6vw;
	transition: 0.3s;
}

.like:before {
  	top: -3vw;
    left: 0;
}

.like:after {
  	left: 3vw;
    top: 0;
}
.like-active,
.like-active:before,
.like-active:after{
  	background-color: tomato;
}
.play{
	transition: 0.4s;
	color: dimgrey;
    font-size: 8vw;
}
.play-active{
	color: #5ec0e7;
}
footer{
    font-family: Din;
	width: 100%;
	height: 10%;
	background-color: white;
	display: flex;
    justify-content: center;
    box-shadow: 2px 0px 2px grey;
}
footer ul{
	font-size: 6vw;
	width: 96%;
	height: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    list-style: none;
}
footer ul li{
	height: 100%;
    text-align: center;
	display: flex;
	justify-content: center;
    flex-direction: column;
	width: 30%;	
}
.burger{
	opacity: 0;
	width: 28.8%;
    height: 0%;
    transition: 0.7s;
    bottom: 9.9%;
    background: #d8d7d7d6;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burger-p-tests, .burger-p-settings{
	display: none;
	height: 33.33%;
}
.burger-p-active{
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
}
.current-burger-button{
	position: relative;
	background : #5ec0e7bf;
	padding-left : 7vw;
}
.active-burger{
	opacity: 1;
    height: 30%;
    z-index: 2;
}
footer ul li{
	transition: 0.4s ease-in-out;
}
.active-button{
	background-color: #f1f1f3;
	justify-content: flex-end;
}
footer ul li:after{
	display: block;
	position: relative;
	left: 0;
	width: 0;
	height: 3.2px;
	background-color: #5ec0e7;
	content: "";
	transition: width 0.3s ease-out;
	bottom: 0;
}
.active-button:hover:after,
.active-button:hover:focus {
	width: 100%;
	color: white;
	background-color: #5ec0e7;
	bottom: 0;
}
.questions-num-color{
	color: #03a9f4;
}
#modeColor{
	font-style: italic;
	color: #68b4d0;
}
.lenguegesClosed{
	display: none;
    width: 0%;
}
.lenguegesOpend{
	display: flex;
    flex-direction: row;
    word-break: break-all;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    flex-wrap: nowrap;
    height: 33%;
    right: 28.8vw;
    width: 200%;
    background: #d8d7d7d6;
}
.lenguage-button-opend-closed{
	height: 110vw;
}
.l-color{
	filter: invert(1);
}



@media (orientation: landscape) {
	/*Rotadet*/
  header{
	height:20%;
	justify-content: flex-start;
}
.account-photo {
	width: 10vw;
    height: 10vw;
	position: relative;
    left: 3vw;
}
.account-info{
	width: 60%;
    right: 1vw;
}
main{
	height:60%;
	justify-content: space-between;
}
.categories {
    margin-top: 8px;
    height: 12%;
    }

.test-block {
	width: 47%;
    height: 70%;
   }
.test-block h4 {
    width: 34%;
    padding: 0.7vw;
}
 .play {
    font-size: 6vw;
    position: relative;
    bottom: 2vw;
    }
    footer {
    height: 20%;
 }
 .like{
	transform: scale(0.7) rotate(-45deg);
    position: relative;
    top: -1.5vw;
 }
 .active-burger {
    bottom: 19.9%;
    height: 75%;
 }
}





